.layout-content{
  display: flex;
  flex-direction: column;
}



.layout-body{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.layout-outlet{
 margin: 4% 0% 0% 13%;
  width: 100%;
  background-color: rgb(254, 251, 251);
}
